body {
    margin: 0;
    font-family: 'Arial', sans-serif;   
    background: url('img/japanese_cherry_blossom.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}

.container {
    text-align: center;
    padding: 70px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    margin: 40px auto;
    max-width: 80%;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

header h2 {
    font-size: 1.2em;
    margin-bottom: 1em;
}

.info {
    text-align: left;
    display: block;
    max-width: 90%;
    margin: 0 auto;
    padding: 0 10px;
}

.info p, .info ul {
    font-size: 1.1em;
    margin: 15px 0;
}

.info ul {
    padding-left: 20px;
}

.info li {
    margin: 10px 0;
}

button {
    font-size: 1.1em;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #ff6600;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

button:hover {
    background-color: #ff3300;
    transform: scale(1.05);
}

#loadingIndicator {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 102, 0, 0.8);
    padding: 20px;
    border-radius: 20px;
    z-index: 1000;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
    .container {
        padding: 30px;
        margin: 15px auto;
    }

    header h1 {
        font-size: 2em;
    }

    header h2 {
        font-size: 1em;
    }

    .info p, .info ul {
        font-size: 1em;
    }

    button {
        font-size: 1em;
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 20px;
        margin: 10px auto;
        border-radius: 10px;
    }

    header h1 {
        font-size: 1.5em;
    }

    header h2 {
        font-size: 0.9em;
    }

    .info p, .info ul {
        font-size: 0.9em;
    }

    button {
        font-size: 0.9em;
        padding: 6px 12px;
    }
}
